<ion-view>
  <ion-content ng-class="colorScheme">
  <div class="row hours">
    <div class="block hour">
      <div class="circle" ng-class="{active: hours % 32 >= 16 && hours % 32 <= 31}"></div>
    </div>
    <div class="block hour">
      <div class="circle" ng-class="{active: hours % 16 >= 8 && hours % 16 <= 15}"></div>
    </div>
    <div class="block hour">
      <div class="circle" ng-class="{active: hours % 8 >= 4 && hours % 8 <= 7}"></div>
    </div>
    <div class="block hour">
      <div class="circle" ng-class="{active: hours % 4 == 2 || hours % 4 == 3}"></div>
    </div>
    <div class="block hour">
      <div class="circle" ng-class="{active: hours % 2 != 0}"></div>
    </div>
  </div>
  <div class="row minutes">
    <div class="block minute">
      <div class="circle" ng-class="{active: minutes % 64 >= 32 && minutes % 64 <= 63}"></div>
    </div>
    <div class="block minute">
      <div class="circle" ng-class="{active: minutes % 32 >= 16 && minutes % 32 <= 31}"></div>
    </div>
    <div class="block minute">
      <div class="circle" ng-class="{active: minutes % 16 >= 8 && minutes % 16 <= 15}"></div>
    </div>
    <div class="block minute">
      <div class="circle" ng-class="{active: minutes % 8 >= 4 && minutes % 8 <= 7}"></div>
    </div>
    <div class="block minute">
      <div class="circle" ng-class="{active: minutes % 4 == 2 || minutes % 4 == 3}"></div>
    </div>
    <div class="block minute">
      <div class="circle" ng-class="{active: minutes % 2 != 0}"></div>
    </div>
  </div>
  <div class="row seconds">
    <div class="block second">
      <div class="circle" ng-class="{active: seconds % 64 >= 32 && seconds % 64 <= 63}"></div>
    </div>
    <div class="block second">
      <div class="circle" ng-class="{active: seconds % 32 >= 16 && seconds % 32 <= 31}"></div>
    </div>
    <div class="block second">
      <div class="circle" ng-class="{active: seconds % 16 >= 8 && seconds % 16 <= 15}"></div>
    </div>
    <div class="block second">
      <div class="circle" ng-class="{active: seconds % 8 >= 4 && seconds % 8 <= 7}"></div>
    </div>
    <div class="block second">
      <div class="circle" ng-class="{active: seconds % 4 == 2 || seconds % 4 == 3}"></div>
    </div>
    <div class="block second">
      <div class="circle" ng-class="{active: seconds % 2 != 0}"></div>
    </div>
  </div>

<!--   <div class="menu-bar">
    <div id="palette" ng-click="showColorMenu = !showColorMenu">
      <img src="../images/palette.png">
    </div>
    <menu class="menu color-menu" ng-show="showColorMenu">
      <button ng-click="setColorScheme('charcoal')"
              ng-class="{active: colorScheme === 'charcoal'}">Charcoal</button>
      <button ng-click="setColorScheme('jejeune')"
              ng-class="{active: colorScheme === 'jejeune'}">Jejeune</button>
      <button ng-click="setColorScheme('sunset')"
              ng-class="{active: colorScheme === 'sunset'}">Sunset</button>
      <button ng-click="setColorScheme('blue')"
              ng-class="{active: colorScheme === 'blue'}">Blue</button>
      <button ng-click="setColorScheme('peppermint')"
              ng-class="{active: colorScheme === 'peppermint'}">Peppermint</button>
      <button ng-click="setColorScheme('phaedra')"
              ng-class="{active: colorScheme === 'phaedra'}">Phaedra</button>
      <button ng-click="setColorScheme('firenze')" 
              ng-class="{active: colorScheme === 'firenze'}">Firenze</button>
    </menu>
  </div> -->

  </ion-content>
</ion-view>




<!-- <html ng-app="binaryClockApp">
<head>
  <title>Binary Clock</title>
  <script src="./components/angular/angular.min.js"></script>
  <link type="text/css" href="stylesheets/styles.less" rel="stylesheet/less" />
  <script src="components/less/dist/less-1.7.5.min.js"></script>
</head> -->



